# Node
node_modules/
**/node_modules/
.npmrc
.pnpm-store
.bun

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds
client/dist/
server/dist/
coverage/

# Env
.env
.env.*
client/.env
server/.env

# Editor
.vscode/
.idea/
.DS_Store

# Uploads
server/public/uploads/

# Jest
.jest-cache/
